body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner-image {
  content: url("https://cdn.weddingwishlist.com/images/website/banner/theme1.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer#footer {
  margin-bottom: 95px;
}

.bottom-selector {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #fff;
}

.bottom-selector .red-button,
.bottom-selector .white-button {
  background-color: #8d170e;
  border: 1px solid #8d170e;
  border-radius: 0px;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 700;
  outline: none !important;
  padding: 10px 20px;
}

.bottom-selector .white-button {
  background-color: #ffffff;
  color: #8d170e;
}

@media only screen and (min-width: 451px) {
  .bottom-selector .button:first-child {
      margin-right: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .bottom-selector {
      text-align: center;
  }

  .bottom-selector .button {
      width: 250px;
  }

  .bottom-selector .button:first-child {
      margin-bottom: 1rem;
  }

 #footer {
      margin-bottom: 155px;
  }
}